body {
  background-color: #ADD8E6; /* bleu ciel */
  font-family: Arial, sans-serif;
}

.container {
  width: 800px;
  margin: 40px auto;
  text-align: center;
}

.bouton {
  width: 150px;
  height: 50px;
  font-size: 18px;
  margin: 10px;
  border-radius: 10px;
  border: none;
  background-color: #4CAF50;
  color: #fff;
   cursor: pointer;
}

.bouton:hover {
  background-color: #3e8e41;
}

.label {
  font-size: 24px;
  margin: 10px;
}

.score {
  font-size: 36px;
  font-weight: bold;
  margin: 20px;
}

.main {
  font-size: 36px;
  margin-right: 10px;
  vertical-align: middle;
}